.homebox :first-child{
    margin-left: 0px;
    width: 60%;
}
.homebox > *{
    margin-left: 5% ;
    margin-top: 0%;
    width: 40%;
}
/* .morecontentbox :first-child{
    width: 40%;
} */
.morecontentbox > *{
    margin-left: 20px;
}
a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
.mainimg{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; 
}
/* .mainimg:hover{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
} */

.main{
    background-color: white;
    padding: 2% 15%;
    overflow: visible;
}
.main2{
    background-color: white;
    padding: 2% 10%;
    overflow: visible;
}